/NodesPrac/nbproject/private/
/NodesPrac/build/
/formcontrols/nbproject/private/
/formcontrols/build/
/ClientProfile/nbproject/private/
/ClientProfile/build/
/NodeActivity/nbproject/private/
/NodeActivity/build/
/PosHandsOn/nbproject/private/
/PosHandsOn/build/
/JavaApplication13/nbproject/private/
/FinalsPOS/nbproject/private/
/FinalsPOS/build/
/GreenWichPOS/nbproject/private/
/GreenWichPOS/build/
/GreenWichPOS/dist/
/MyPOS_Subido/nbproject/private/
/MyPOS/nbproject/private/
/MyPOS/build/
/POS/nbproject/private/
/POS/build/
/POS/dist/
/Subido_POS/nbproject/private/
/Subido_POS/build/
