/NodesPrac/nbproject/private/
/NodesPrac/build/
/formcontrols/nbproject/private/
/formcontrols/build/
/ClientProfile/nbproject/private/
/ClientProfile/build/
/NodeActivity/nbproject/private/
/NodeActivity/build/
/PosHandsOn/nbproject/private/
/PosHandsOn/build/
/JavaApplication13/nbproject/private/
/FinalsPOS/nbproject/private/
/FinalsPOS/build/
